.Home {
  background-image: url("../../img/main-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 625px;
  justify-content: center; /* CENTRALIZA na horizontal */
  padding-top: 1rem;
}

h1,
button p {
  color: #fafafa;
}

/* título */
.main-title {
  justify-content: center; /* CENTRALIZA na horizontal */
  align-items: center; /* CENTRALIZA verticalmente */
}

/* buttom */

button {
  padding: 1rem;
  background-color: #1c1c1c;
  border-radius: 50px;
}
