.navbar {
  background: rgba(255, 255, 255, 0.1); /* transparência */
  -webkit-backdrop-filter: blur(10px); /* suporte Safari */
  border-radius: 30px; /* bordas arredondadas */
  padding: 20px 20px;
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto; /* centraliza horizontal */
}

#list-navbar {
  display: flex;
  align-items: center; /* CENTRALIZA verticalmente */
  gap: 20px; /* espaço entre os itens */
  padding: 0; /* remove recuo padrão da ul */
}
.navbar-link h1 {
  font-size: 30px;
  color: #fafafa;
}

button.navbar-link {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit; /* herda fonte igual ao resto */
  color: #6c6c6c;
  padding: 0 0.5rem;
}

.navbar-link {
  color: #6c6c6c;
  text-decoration: none;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 18px;
}

#li-navbar {
  list-style: none;
}

.navbar-link:hover {
  color: #bebebe;
  transition: 0.3s;
}
