.navbar {
  background: rgba(255, 255, 255, 0.1); /* transparência */
  -webkit-backdrop-filter: blur(10px); /* suporte Safari */
  border-radius: 20px; /* bordas arredondadas */
  padding: 10px 20px;
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto; /* centraliza horizontal */
}

ul {
  display: flex;
  align-items: center; /* CENTRALIZA verticalmente */
  gap: 20px; /* espaço entre os itens */
  padding: 0; /* remove recuo padrão da ul */
}

a {
  color: #6c6c6c;
  padding: 0 0.5rem 0 0.5rem;
}

li {
  list-style: none;
}

a:hover {
  color: #bebebe;
  transition: 0.3s;
}
