footer {
  background-image: url("../../img/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 18rem;
  width: 100%;
  text-align: center;
}

.footer {
  padding-top: 3.5rem;
}

.title {
  padding-bottom: 1rem;
}

.title h2 {
  font-weight: lighter;
  padding-bottom: 0.3rem;
}

.footer h2,
.footer p,
.footer span,
.footer a {
  color: #5b5b5b;
}

.contatos a {
  text-decoration: none;
}

.contatos {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 1rem 1rem 1rem 0;
}

.divisao {
  border-right: 1px dashed #5b5b5b;
}

.contatos img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.contatos-container {
  display: flex;
  justify-content: center; /* CENTRALIZA na horizontal */
  align-items: center; /* CENTRALIZA verticalmente */
  gap: 20px; /* espaço entre os itens */
  padding: 0; /* remove recuo padrão da ul */
  list-style: none;
}

.copy-right {
  padding: 1rem;
}
